{% include 'films/header.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<h1>Фильмы</h1>

<div class="horizont-container">
  {% for movie in movies %}
    <div class="card" style="width: 18rem;">
      <img src="{{ movie.image }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ movie.name }}</h5>
        <p class="card-text"></p>
        <a href="/movies_list/{{ movie.id }}/" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  {% endfor %}
</div>

{% include 'films/footer.html' %}
